{% extends 'base.html' %}

    {% block title %}{{ super() }} - DadosHH{% endblock %}

{% block content %}
<br>
<br>
<h2 class="text-muted">Dados HH</h2>
<center>
<br>
<div class="col-md-6 col-md-offset-3">
<form action="" method="POST">
    <td>{{rows}}</td>
</form>
</div>
</center>
{% endblock %}