{% extends 'base.html' %}

    {% block title %}{{ super() }} - Estatísticas{% endblock %}

{% block content %}
<br>
<br>
<h2 class="text-muted">Estatísticas</h2>
<center>
<br>
<div class="col-md-6 col-md-offset-3">
<form action="" method="POST">
    <table style="border:1px solid black;">
        <tr>
            <th style="border:1px solid black;">ID</th>
            <th style="border:1px solid black;">Classificação</th>
            <th style="border:1px solid black;">Causas Principais</th>
            <th style="border:1px solid black;">Causas Secundárias</th>
        </tr>
        <tr>
            <td style="border:1px solid black;">{{df['id']}}</td>
            <td style="border:1px solid black;">{{df['classificacao']}}</td>
            <td style="border:1px solid black;">{{df['causas principais']}}</td>
            <td style="border:1px solid black;">{{df['causas secundarias']}}</td>
        </tr>
    </table>
</form>
</div>
</center>
{% endblock %}