{% extends 'base.html' %}

{% block title %}{{ super() }} - Home{% endblock %}

{% block content %}
<div class="index">
    <br>
        <h2>Dados HH</h2>
    <br>

    <!-- Dashboard Linhas e Colunas como no print -->

    <br>
        <h2>Estatísticas</h2>
    <br>

    <!-- Dashboard Linhas e Colunas como no print -->

</div>
{% endblock %}